<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
      
    <!-- AWS Simple DB Appender, uncomment, set proper DBName and AWS credentials (appSettings) to try it out --><!--
    <appender name="AWSAppender3" type="log4net.Appender.SimpleDBAppender, log4net.Appender.AWS">
      <param name="DBName" value="idealink5nwm"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    -->
    
    <!-- AWS Simple SQS Appender, uncomment, set proper QueueName and AWS credentials (appSettings) to try it out -->      
    <!--<appender name="AWSAppender1" type="log4net.Appender.SQSAppender, log4net.Appender.AWS">
      <param name="QueueName" value="karelllogging"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>-->
      
    <!-- AWS Simple S3 Appender, uncomment, set proper BucketName and AWS credentials (appSettings) to try it out. This type will work normaly as a RollingFileAppender but in the RollingFile action will upload the log file to S3 Bucket. -->
      
    <appender name="AWSAppender2" type="log4net.Appender.RollingFileS3Appender, log4net.Appender.AWS">
        <param name="BucketName" value="logs-jcbapostas" />
        <param name="LogDirectory" value="log-diagnostics" /> <!-- If you dont whant a prefix to the log object leave this blank -->
        <param name="File" value="_logs\\LogSocket.log" />
        <staticLogFileName value="true" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="1MB" />
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d [%t][%property{SessionID}] %-5p %c %m%n" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
      
    <!-- Zendesk Simple Ticket Appender, uncomment, set proper Url, User, Password, Tags and RequesterId to try it out -->
    <!--<appender name="ZendeskAppender" type="log4net.Appender.ZendeskAppender, log4net.Appender.Zendesk">
      <Url value="https://url.zendesk.com" />
      <User value="username/token" />
      <Password value="apitoken" />
      <Tags value="log4net;automated;test" />
      <RequesterId value="0" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>-->
      
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
      
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="ZendeskAppender" />-->
      <!--<appender-ref ref="AWSAppender1"/>-->
      <appender-ref ref="AWSAppender2" />
      <!--<appender-ref ref="AWSAppender3"/>-->
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- aws Only necessary if you use an AWS Appender -->
    <add key="AWSAccessKey" value="put aws access key here" />
    <add key="AWSSecretKey" value="put aws access key here" />    
    <!-- /aws -->
    <add key="Log4net.Appender.Amazon.RegionEndpoint" value="USWest2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
